*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: grid;
    grid-template: 
        "header" 4em
        "main"   1fr
        "footer" 2em /
        1fr;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    font-weight: bold;
    height: 100%;
}

article{
    border: 2px solid black;
    width: 1000px;
    height: 500px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
}

footer{
    background-color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 0.8em;
    color: white;
}   